/* //VehicleEntry.css */

.close {
  transition: background-color 0.3s;
}
 
/* .close:hover {
  background-color: #b30024;
} */
 
.btn-add-ticket {
  background-color: #007bff; /* Default button color */
  color: #fff; /* Default text color */
  transition: background-color 0.3s ease; /* Smooth transition effect */
}
 
.btn-add-ticket:hover {
  background-color: #28a745; /* Green color on hover */
}
 
/*  Blur effect */
.blur-background {
  filter: blur(3px); /* Adjust the blur amount */
  pointer-events: none; /* Prevent interaction with background content */
}
.btn-capture {
  padding: 10px 20px; /* Adjust padding as needed */
}
 
body {
  margin: 0;
}
 
.home-sidebar.expanded + .vehicleEntry-main-content {
  margin-left: 220px;
}
 
/* Add this to your CSS file */
@media (max-width: 768px) {
  .vehicleEntry-main-content {
    padding: 10px;
  }
  .container {
    padding: 0;
  }
  .btn-sm {
    padding: 5px 10px;
  }
  /* Add more styles as needed for mobile responsiveness */
}
 
.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px; /* Set the height of the modal body as needed */
}
 
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  z-index: 999; /* Ensure it's above other content */
}
 
.form-check-input {
  border-width: 2px; /* Set the border width to make it bold */
  border-color: black;
}
 
.radio-container {
  display: flex;
  flex-direction: row;
}
 
.radio-container .form-check {
  margin-right: 20px; /* Adjust this value to control the spacing */
}
 
.modal-header {
  padding-bottom: 0; /* Reduce padding bottom */
  padding-top: 0; /* Reduce padding top */
}
 
.modal-footer {
  padding-top: 0;
  /* padding-bottom: 0; */
}
 
/* Adjust the width of the input fields and buttons for mobile */
@media (max-width: 768px) {
  .form-control {
    width: 100%; /* Make input fields take full width */
  }
  .btn {
    width: 100%; /* Make buttons take full width */
    padding: 10px 0; /* Adjust padding for better appearance */
  }
}
 
.VehicleEntrytable {
  margin-left: -70px;
  margin-top: -20px;
}
 
/* Vehicle InTimeImage */
 
/* .image-button {
  border: none;
  background: none;
  padding: 0;
}
 
.image-container {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
 
.green-background {
  background-color: green;
}
 
.time-image {
  width: 100%;
  height: 100%;
} */
 
/* Vehicle OutTime Image */
.image-button {
  border: none;
  background: none;
  padding: 0;
}
 
.image-container {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 50%; */
}
 
.red-background {
  background-color: red;
}
 
.time-image {
  width: 100%;
  height: 100%;
}

.vehicle-table th {
  white-space: nowrap; /* Prevent wrapping of header cells */
  background-color: #C2C4CB; /* Add a background color for visibility */
  height: 80px;
}